<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.projectnew">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLogin"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activity.Admin.ShowDataAdmin"></activity>
        <activity android:name=".Activity.Admin.TambahAdmin" />
        <activity android:name=".Activity.Admin.DetailNotifAdmin" />
        <activity android:name=".Activity.User.NotifDetailActivity" />
        <activity android:name=".Activity.Admin.AdminProfile" />
        <activity android:name=".Activity.Admin.NotifAdmin" />
        <activity android:name=".Activity.Extend.ExNextFinish" />
        <activity android:name=".Activity.Extend.ExNextKuis3Mulai" />
        <activity android:name=".Activity.Extend.ExNextKuis2Mulai" />
        <activity android:name=".Activity.Extend.ExNextKuis3" />
        <activity android:name=".Activity.Extend.ExNextKuis2" />
        <activity android:name=".Activity.Kuis.NextFinishActivity" />
        <activity android:name=".Activity.Kuis.NextKuis3Activity" />
        <activity android:name=".Activity.Kuis.NextKuis2Activity" />
        <activity android:name=".Activity.Karir.NextKarirActivity" />
        <activity android:name=".Activity.Karir.NextMulaiActivity" />
        <activity android:name=".Activity.Kuis.ActivityKuis3" />
        <activity android:name=".Activity.Kuis.ActivityKuis2" />
        <activity android:name=".Activity.Kuis.ActivityKuis1" />
        <activity android:name=".Activity.User.NotifActivity" />
        <activity
            android:name=".Activity.User.UserActivity"
            android:theme="@style/AppThemeRegist" />
        <activity
            android:name=".Activity.User.Read_Profile"
            android:theme="@style/AppThemeLogin" />
        <activity android:name=".Activity.User.CarrerActivity" />
        <activity
            android:name=".Activity.User.HomeActivity"
            android:theme="@style/AppThemeLogin" />
        <activity android:name=".Activity.Admin.HomeAdmin" />
        <activity
            android:name=".Activity.User.LoginActivity"
            android:theme="@style/AppThemeLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.User.RegisterActivity"
            android:theme="@style/AppThemeLogin" />
    </application>

</manifest>